:root {
  --textsize: 1.33em;
  --title-textcolor: yellow;
}

@font-face {
  font-family: "Fakt Pro";
  src: url("../assets/fonts/FaktPro-Normal.woff2") format("woff2"),
       url("../assets/fonts/FaktPro-Normal.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Fakt Pro";
  src: url("../assets/fonts/FaktPro-NormalItalic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Fakt Pro";
  src: url("../assets/fonts/Fakt-SemiBold.woff2") format("woff2"),
       url("../assets/fonts/Fakt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lyno Stan HKW";
  src: url("../assets/fonts/LynoStanHKW.woff2") format("woff2"),
       url("../assets/fonts/LynoStanHKW.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fakt Pro", sans-serif;
  margin: 0;
}
@media (min-width: 640px) {
  body {
    font-size: 21px;
  }
}

h1, h2 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin: 1rem 0 0 0;
}
@media (min-width: 414px) {
  h1, h2 {
    font-size: 2.5em;
  }
}

h1 a {
  text-decoration: none;
}

h3 {
  font-size: var(--textsize);
  font-weight: 600;
  margin: 0 0 1.2em 0;
}

p {
  font-size: var(--textsize);
  max-width: 40em;
}

/* || Header and Main Navigation */

header {
  z-index: 0;
}
.header {
  background-color: black;
  margin-bottom: 3rem;
}

.header-foreground {
  margin: 1rem;
}
@media (min-width: 640px) {
  .header-foreground {
    margin: 1.5rem 2rem;
  }
}

.title {
  color: var(--title-textcolor);
  font-size: 3em;
  font-family: "Lyno Stan HKW", "Fakt Pro", sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 0.85;
  margin-top: 1.5rem;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .title {
    font-size: 3.5em;
  }
}
@media (min-width: 640px) {
  .title {
    font-size: 5em;
    margin-top: 0.5em;
  }
}
@media (min-width: 1366px) {
  .title {
    font-size: 7em;
  }
}
@media (min-width: 1920px) {
  .title {
    font-size: 8em;
    margin-top: 0.9em;
  }
}
.title a {
  color: yellow;
}

.byline {
  bottom: 3rem;
  color: white;
  font-size: var(--textsize);
  font-weight: 600;
  left: 1rem;
  position: absolute;
}
@media (min-width: 640px) {
  .byline {
    left: 1.5rem;
  }
}

.projecttitle {
  color: white;
  font-family: "Lyno Stan HKW", "Fakt Pro", sans-serif;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 0.02em;
  margin: 0;
  line-height: 0.95;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .projecttitle {
    font-size: 2.4em;
  }
}
@media (min-width: 1024px) {
  .projecttitle {
    font-size: 3.5em;
    line-height: 0.92;
  }
}

.logo {
  flex-basis: 25%;
  margin-bottom: 0.5rem;
  z-index: 1;
}

nav .logo svg {
  fill: white;
  height: 2em;
  width: auto;
}
@media (min-width: 375px) {
  nav .logo svg {
    height: 2.4em;
  }
}
@media (min-width: 1024px) {
  nav .logo svg {
    height: 3.35em;
  }
}

nav .language {
  font-size: 1em;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media (min-width:640px) {
  nav .language {
    right: 2rem;
    top: 1.3rem;
  }
}

nav a {
  color: white;
  text-decoration: none;
}

header .title {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-projettitle {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 475px) {
  .logo-projettitle {
    padding-right: 2em;
  }
}

/* || Content/sections */

.bodytext {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
@media (min-width: 640px) {
  .bodytext {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
}

.work {
  margin: 6rem 0;
}

.button {
  background-color: white;
  border: 0.02em solid;
  border-radius: 10em;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 0.5;
  cursor: pointer;
}

.element {
  margin: 0 1em;
}
@media (min-width: 1400px) {
  .element {
    margin: 0 3em;
  }
}

.credits {
  font-size: 0.8em;
  height: 1.2em;
  margin-top: 0.5em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.credits__btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: none;
}

.credits__full{
  overflow: auto;
  height: auto;
}

.lead {
}

.video-cover {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video-cover__iframe {
  box-sizing: border-box;
  width: 177.77777778vh;
  height: 56.25vw;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.vimeo-embed {
}

.work {
  margin-bottom: 2em;
}

.text {
  margin-top: 1.5rem;
}

@media (min-width: 1200px) {
  .text {
    display: flex;
    justify-content: space-between;
  }
  .text__column {
    width: 49%;
  }
}


#more {display: none;}
